In [31]:
import pandas as pd

aapl = pd.read_csv("input/aapl.csv")
dis = pd.read_csv("input/dis.csv")
dkng = pd.read_csv("input/dkng.csv")
mrna = pd.read_csv("input/mrna.csv")
nflx = pd.read_csv("input/nflx.csv")
aapl = aapl["Adj Close"]
dis = dis["Adj Close"]
dkng = dkng["Adj Close"]
mrna = mrna["Adj Close"]
nflx = nflx["Adj Close"]

data = {"aapl": aapl, "dis": dis, "dkng": dkng, "mrna": mrna, "nflx": nflx}
df = pd.concat(data, axis = 1)
df

           aapl         dis       dkng        mrna        nflx
0    110.842850  118.470001  38.150002   65.739998  486.239990
1    114.949615  121.540001  37.369999   71.279999  504.209991
2    108.510361  121.250000  35.400002   67.470001  475.739990
3    108.420654  120.129997  35.720001   67.110001  484.119995
4    110.085289  124.019997  37.470001   69.080002  487.220001
..          ...         ...        ...         ...         ...
119  133.500000  183.110001  58.779999  169.500000  508.899994
120  131.940002  182.759995  57.169998  168.100006  508.779999
121  134.320007  183.020004  58.119999  173.630005  505.549988
122  134.720001  184.270004  59.230000  177.610001  510.299988
123  134.389999  184.639999  59.130001  183.410004  505.549988

[124 rows x 5 columns]

In [ ]:

for i in range(5):
    for j in range(1, 124):

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

for i in range(len(data)):
    plt.plot(data[i][0], data[i][1], '.', color = 'black')